<%if params[:controller] == "friends" %>
  <%= render "layouts/flash_messages" %>
<%end%>

<% if !@friends.empty? %>
  <div class="card card-header friends-result-display mb-4">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Signed up Since</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <th scope="row"><%=friend.name%></th>
            <td><%=friend.email%></td>
            <td><%=friend.created_at%></td>
            <%if already_follow?(friend) %>
              <th scope="col">
                <span class="badge text-bg-secondary">You already follow this user </span>
              </th> 
            <%else%>
              <th scope="col">
                <%= link_to "#", class: "btn btn-success btn-sm" do%>
                  Follow
                <%end%>
              </th>
            <%end%>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<%end%>